<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img src="<%= file.path %>" />
    <div><%= info.id%>님 환영합니다.</div>
    <div>비밀번호: <%= info.password%></div>
    <div>이름: <%= info.name%></div>
    <div>나이: <%= info.age%></div>
  </body>
</html>
